$icon-font-path: '../fonts/';
@import "var.scss";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "sprite.scss";
// Header
header {
  .navbar-nav {
    @media (min-width: $grid-float-breakpoint) {
      &:first-child{margin-left: 150px;}
      &.navbar-right{
        background-color: #000;
        border-left: 1px solid #4b4743;
      }
    }
    > li > a {
      max-height: 70px;
      position: relative;
      &.ext {
        span{
          position: absolute;
          background-color: $brand-danger;
          padding: 5px;
          border-radius: 50%;
          font-size: 12px;
          height: 18px;
          top: 14px;
          width: 18px;
          line-height: .7;
          right: 6px; 
        }
        font-size: 27px;
        &.icon-cairotowr {
          font-size: 45px;
        }
      }
      @media (min-width: $grid-float-breakpoint) {
        padding: 25px 15px;
        font-size: 16.5px;
      }
    }
  }
}
