@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon/icomoon.eot?meiqmi');
    src:    url('../fonts/icomoon/icomoon.eot?meiqmi#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.ttf?meiqmi') format('truetype'),
        url('../fonts/icomoon/icomoon.woff?meiqmi') format('woff'),
        url('../fonts/icomoon/icomoon.svg?meiqmi#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #aeaeae;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrowdonw:before {
    content: "\e900";
}
.icon-arrow-r:before {
    content: "\e901";
}
.icon-bigpin:before {
    content: "\e902";
}
.icon-cairotowr:before {
    content: "\e903";
}
.icon-calendar:before {
    content: "\e904";
}
.icon-chat:before {
    content: "\e905";
}
.icon-check:before {
    content: "\e906";
}
.icon-eifel:before {
    content: "\e907";
}
.icon-gift:before {
    content: "\e908";
}
.icon-pin:before {
    content: "\e909";
}
.icon-right-arrow:before {
    content: "\e90a";
}
.icon-ring:before {
    content: "\e90b";
}
.icon-search:before {
    content: "\e90c";
}
.icon-tag:before {
    content: "\e90d";
}
