$transparent_black: rgba(0,0,0,.8);
$strong-red : #b81515;

$brand-danger : $strong-red;

$navbar-border-radius: 0;
$navbar-padding-vertical: 10px;
$navbar-padding-horizontal: 10px;

$navbar-height:70px;
$navbar-margin-bottom:0;

$navbar-inverse-link-color: #fff;

$navbar-inverse-bg: $transparent_black;
$navbar-inverse-border: $transparent_black;
